

<!-- List of Barbers -->
<div class='container list-page styles-list-page'>
  <div class="row">
    <div ng-repeat="meal in data | filter:search | orderBy:'-'">
      <div class="col-sm-4 col-lg-4 col -md-4 list-element-container">
        <div class="thumbnail list-element">
          <a href="#/barbers" ng-click="setId(meal._id)" class="picture" style="background-image:url({{meal.image}})"></a>
          <div class="caption">
            <h4><a href="#/barbers" ng-click="setId(meal._id)">{{meal.title}}</a></h4>
            <p>{{meal.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


