<div class="container" ng-app="foodly">
    <div class="row">
        <form class="form-horizontal">
            <fieldset required>
                <!-- Address form -->
                <h2>Add Meal</h2>
                <!-- address-line1 input-->

                <div class="control-group">
                    <label class="control-label">Meal Title</label>
                    <div class="controls">
                        <input id="address-line1" name="address-line1" type="text" placeholder="title" class="input-xlarge" required ng-model='meal.title'>
                        <p class="help-block">
                        </p>
                    </div>
                    <label class="control-label">Meal Description</label>
                    <div class="controls">
                        <input id="address-line1" name="address-line1" type="text" placeholder="description" class="input-xlarge" required ng-model='meal.description'>
                        <p class="help-block">
                        </p>
                    </div>
                    <label class="control-label">Meal Price</label>
                    <div class="controls">
                        <input id="address-line1" name="address-line1" type="text" placeholder="price" class="input-xlarge" required ng-model='meal.price'>
                        <p class="help-block">
                        </p>
                    </div>
                    <label class="control-label">Meal Ingredients</label>
                    <div class="controls">
                        <input id="address-line1" name="address-line1" type="text" placeholder="ingredients" class="input-xlarge" required ng-model='meal.ingredients'>
                        <p class="help-block">
                        </p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Address Line 1</label>
                    <div class="controls">
                        <input id="address-line1" name="address-line1" type="text" placeholder="address line 1" class="input-xlarge" required>
                        <p ng-controller="MealController" class="help-block">Street address, P.O. box, company name, c/o
                        </p>
                    </div>
                </div>
                <!-- address-line2 input-->
                <div class="control-group">
                    <label class="control-label">Address Line 2</label>
                    <div class="controls">
                        <input id="address-line2" name="address-line2" type="text" placeholder="address line 2" class="input-xlarge">
                        <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                    </div>
                </div>
                <!-- city input-->
                <div class="control-group">
                    <label class="control-label">City / Town</label>
                    <div class="controls">
                        <input id="city" name="city" type="text" placeholder="city" class="input-xlarge" required>
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- region input-->
                <div class="control-group">
                    <label class="control-label">State / Province / Region</label>
                    <div class="controls">
                        <input id="region" name="region" type="text" placeholder="state / province / region" class="input-xlarge" required>
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- postal-code input-->
                <div class="control-group">
                    <label class="control-label">Zip / Postal Code</label>
                    <div class="controls">
                        <input id="postal-code" name="postal-code" type="text" placeholder="zip or postal code" class="input-xlarge" required>
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- country select -->
                <div class="control-group">
                    <label class="control-label">Country</label>
                    <div class="controls">
                        <select id="country" name="country" class="input-xlarge">
                            <option value="" selected="selected">(please select a country)</option>
                            <option value="US">United States</option>
                        </select>
                    </div>
                </div>
                <!--Submit -->
                <div class="control-group">
                    <p>
                        <label class="control-label"> Upload meal photo:</label>
                    </p>
                    <div class="controls">
                        <img style="border:1px solid gray;width:300px;"  id="preview" src="https://s3-us-west-2.amazonaws.com/mks-greenfield/notfound.png"/>
                        <input id='file_input' type="file" name="img">
                        <input type="hidden" id="avatar_url" name="avatar_url" value="/images/default.png" />
                    </div>
                </div>
                <!--Checkout -->
            </fieldset>
            <p>Please wait until the image is finished loading before clicking submit.</p>
            <button class="btn btn-primary address_submit" data-toggle="modal" ng-click="addMeal()">Submit</button>
        </form>
        <script type="text/javascript">
/*
    Function to carry out the actual PUT request to S3 using the signed request from the app.
*/
function upload_file(file, signed_request, url){
    var xhr = new XMLHttpRequest();
    xhr.open("PUT", signed_request);
    xhr.setRequestHeader('x-amz-acl', 'public-read');
    xhr.onload = function() {
        if (xhr.status === 200) {
            document.getElementById("preview").src = url;
            document.getElementById("avatar_url").value = url;
        }
    };
    xhr.onerror = function() {
        alert("Could not upload file.");
    };
    xhr.send(file);
}
/*
    Function to get the temporary signed request from the app.
    If request successful, continue to upload the file using this signed
    request.
*/
function get_signed_request(file){
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
    xhr.onreadystatechange = function(){
        if(xhr.readyState === 4){
            if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
                console.log(response);
                upload_file(file, response.signed_request, response.url);
            }
            else{
                alert("Could not get signed URL.");
            }
        }
    };
    xhr.send();
}
/*
   Function called when file input updated. If there is a file selected, then
   start upload procedure by asking for a signed request from the app.
*/
function init_upload(){
    console.log("here");
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(file == null){
        alert("No file selected.");
        return;
    }
    get_signed_request(file);
}
/*
   Bind listeners when the page loads.
*/
(function() {
    document.getElementById("file_input").onchange = init_upload;
})();
</script>
    </div>
</div>
