

<!-- List of Barbers -->
<div id='container'>
  <div class="row">
    <div ng-repeat="meal in data | filter:search ">
      <div class="col-sm-4 col-lg-4 col -md-4">
        <div class="thumbnail">
          <img id="meal_images" ng-src="{{meal.profile || 'http://images.realestateview.com.au/pics/406/Food-Hospitality-Elsternwick-VIC-3185-Real-Estate-photo-1-featured-9374406.jpg'}}">
          <div class="caption">
            <h4><a href="#/barbers/profile" ng-click="setId(meal._id)">{{meal.name}}</a></h4>
            <button type="submit" class="btn btn-success pull-right" ng-click="orderMeal(meal)">Add to cart</button>
            <p>{{meal.meals.description}}</p>
          </div>
          <div class="ratings">
            <p class="pull-right">{{ randReviews[$index] }} review<span ng-show='randReviews[$index] !== 1'>s</span></p>
            <p>
              <span ng-show='randStars[$index] >= 1' class="glyphicon glyphicon-star"></span>
              <span ng-show='randStars[$index] >= 2' class="glyphicon glyphicon-star"></span>
              <span ng-show='randStars[$index] >= 3' class="glyphicon glyphicon-star"></span>
              <span ng-show='randStars[$index] >= 4' class="glyphicon glyphicon-star"></span>
              <span ng-show='randStars[$index] >= 5' class="glyphicon glyphicon-star"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

