

<!-- List of Barbers -->
<div class='container list-page barbers-list-page'>
  <div class="row">
    <form class="search-form pull-right">
      <input type="text" placeholder="Search Hairstyles" class="search-input form-control" ng-model="hairstyleSearch">
    </form>
  </div>
  <div class="row">
    <div ng-repeat="meal in data | filter: hairstyleSearch">
      <div class="col-sm-4 col-lg-4 col -md-4 list-element-container">
        <div class="thumbnail list-element">
          <a href="#/barbers/profile" ng-click="setId(meal._id)" class="picture" style="background-image:url({{meal.portrait}})"></a>
          <div class="barber-info cf">
            <div class="caption">
              <h4><a href="#/barbers/profile" ng-click="setId(meal._id)">{{meal.name}}</a></h4>
              <!-- <p>{{meal.meals.description}}</p> -->
            </div>
            <div class="ratings">
              <div class="ratings-container" ng-controller="ratingController">
                <!-- Rating : {{meal.avgRating}}/5 -->
                <div class="ratings-inner-container" star-rating rating="starRating1=meal.avgRating" read-only="true" max-rating="5">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

