.barber-portrait {
  float: left;

}
.barber-stats {
  border: 1px dashed black;
  height: 300px;
}
.barber-description {
  height: 200px;
  padding: 1em;
  width: 100%;
}
.barber-gallery {
  border: 1px dashed black;
  height: 400px;
}
.barber-styles {
  img {
    margin: 0 1%;
    max-width: 22%;
  }
}