.list-page {
  .list-element-container {
    .list-element {
      position: relative;
      .maximize {
        position: absolute;
        top: 5px;
        right: 5px;
        background: rgba(0,0,0,0.5);
        border: none;
        color: white;
        border-radius: 50%;
      }
      .picture {
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
        display: block;
      }
      .barber-info {
        .caption {
          display: inline-block;
          float: left;
          height: auto;
          a {
            color: $mainColor;
          }
        }
        .ratings {
          display: inline-block;
          float: right;
          width: 120px;
          padding-top: 16px;
          .ratings-container {
            .ratings-inner-container {
              > div {
                img {
                  width: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  .search-form {
    min-width: 300px;
    margin: 1em;
  }
}

#pictureModal {
  .modal-body {
    text-align: center;
    img {
      max-width: 100%;
    }
  }
}