// @import "reset";
@import "bootstrap";
@import "bootstrap-theme";
@import "previous";
@import "font-awesome";
@import "fonts";
@import "variables";
@import "header";
@import "footer";
@import "home";
@import "barber-profile";
@import "profile-page";
@import "list-page";
@import "about-us";
@import "order";


html {
  -webkit-font-smoothing: antialiased;
  * {
    box-sizing: border-box;
  }
}

// Clear Fix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}