// @import "reset";
@import "bootstrap";
@import "bootstrap-theme";
@import "previous";
@import "font-awesome";
@import "variables";
@import "header";
@import "footer";
@import "home";

html {
  -webkit-font-smoothing: antialiased;
  * {
    box-sizing: border-box;
  }
}

body {

}